<div>
  <button (click)="addTaskList()">New todo list</button>
  <div  class="drag-list-container" >
    <!-- All lists in here will be connected. -->
    <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
      <div cdkDrag class="task-list-wrapper" *ngFor="let list of taskLists; index as i" >
        <div class="task-list-title-wrapper">
          <h2 contenteditable #title (blur)="onKeyTitleEdit(title.textContent, i)">{{list.title}}</h2>
        </div>

        <div class="list-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
    <!-- <div cdkDropListGroup class="task-list-wrapper" >
      <div cdkDrag>
        <h2 contenteditable *ngFor="let list of taskLists" #title (blur)="onKeyTitleEdit(title.textContent)">{{list.title}}</h2>
      </div>
    </div>
    <app-task-list *ngFor="let list of taskLists"></app-task-list> -->
  </div>
</div>